<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta NAME="robots" CONTENT="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amulen light</title>
    <link href="{{ asset("css/fontawesome.css") }}" rel="stylesheet" media="screen">
    <link href="{{ asset("css/bootstrap.css") }}" rel="stylesheet" media="screen">
    <link href="{{ asset("css/reports.css") }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("dashboard") }}">WebRii</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ejemplo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path("test") }}">Test</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ app.session.get('username') }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/logout">Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <div class="push"></div>
</div>
<div class="footer">
    <div class="container">
        <p class="text-right">
            Powered by <img src="{{ asset("images/favicon.ico") }}" alt="rii">
        </p>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset("js/jquery.js") }}"></script>
    <script src="{{ asset("js/bootstrap.js") }}"></script>
    <script src="{{ asset("js/fw-collapsible.js") }}"></script>
{% endblock %}
</body>
</html>
