{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Reportes
        <small>Dashboard</small>
    </h1>
</div>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <a href="{{ path("report_balance") }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-usd"></i>
                <span class="glyphicon-class">Balance <br> Contable</span>
            </a>
        </li> 
        <li>
            <a href="{{ path("report_situacion_patrimonial") }}" class="btn btn-success">
                <i class="glyphicon glyphicon-briefcase"></i>
                <span class="glyphicon-class">Situación patrimonial</span>
            </a>
        </li>
        <li>
            <a href="{{ path("report_estado_resultado") }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-pencil"></i>
                <span class="glyphicon-class">Estado Resultado</span>
            </a>
        </li>
        <li>
            <a href="{{ path("report_balance_saldos") }}" class="btn btn-warning">
                <i class="glyphicon glyphicon-usd"></i>
                <span class="glyphicon-class">Balance de Sumas y Saldos <br> Contable</span>
            </a>
        </li> 
        <li>
            <a href="{{ path("report_balance_saldos_admin") }}" class="btn btn-info">
                <i class="glyphicon glyphicon-usd"></i>
                <span class="glyphicon-class">Balance de Sumas y Saldos <br> Administrativos</span>
            </a>
        </li> 
        
        <li>
            <a href="{{ path("report_disponibilidad") }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-home"></i>
                <span class="glyphicon-class"> Disponibilidad <br> Alquileres</span>
            </a>
        </li> 
    </ul>
</div>
{% endblock %}